<!DOCTYPE html>
 <head>
  <meta charset="UTF-8">
  <title>Calculadora</title>
  <link rel="stylesheet" href="index.css">
 </head>

 <body>
  <div>
    <%- include("cabec")%>
    <form id="formi" action="/" method="post">
      <h2>Digite dois números</h2>
     <label> Número 1: </label>
     <input id= "n1" name="n1"/>
     <br>
     <label> Número 2: </label>
     <input id= "n2" name="n2"/>
     <br>
     <br>
     <input type="button" onclick="erro('/soma')" value="+"></input>
     <input  type="button" onclick="erro('/sub')" value="-"></input>
     <input type="button" onclick="erro('/mult')" value="X"></input>
     <input type="button" onclick="erro('/div')" value="/"></input>
    </form>
    <h2 id="resultado">Resultado:<%=resultado%></h2>
    <%- include("rodape")%>
  </div>
  
  <script>
    function erro (rota) {
     formi.action = rota 
     if(n1.value == '' || n2.value == ''){
      document.getElementById ('resultado').innerHTML = ''
      alert('Não deixe um espaço vazio!')
      } else {
        formi.submit()
      }
     }
    
  </script>
 </body>
</html>
