<!DOCTYPE html>
 <head>
  <meta charset="UTF-8">
  <title>Calculadora</title>
 </head>

 <body>
  <%- include("cabec")%>
  <h1>Digite dois números:</h1>
  <form action="/soma" method="get">
   <label> Número 1: </label>
   <input id= "n1" name="n1"/>
   <label> Número 2: </label>
   <input id= "n2" name="n2"/>
   <button type="submit">Somar</button>
  </form>
  <br>

  <form action="/sub" method="get">
    <label> Número 1: </label>
    <input id= "n1" name="n1"/>
    <label> Número 2: </label>
    <input id= "n2" name="n2"/>
    <button type="submit">Subtrair</button>
   </form>
   <br>

   <form action="/mult" method="get">
    <label> Número 1: </label>
    <input id= "n1" name="n1"/>
    <label> Número 2: </label>
    <input id= "n2" name="n2"/>
    <button type="submit">Multiplicar</button>
   </form>
   <br>

   <form action="/div" method="get">
    <label> Número 1: </label>
    <input id= "n1" name="n1"/>
    <label> Número 2: </label>
    <input id= "n2" name="n2"/>
    <button type="submit">Dividir</button>
   </form>

  <h1>Resultado:</h1>
  <h1 id="resultado"><%=resultado%></h1>
  <%- include("ropade")%>
 </body>
</html>
